[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jupyter = "*"
pandas = "*"
numpy = "*"
matplotlib = "*"
searchtweets = "*"
nltk = "*"
plotly = "*"
unidecode = "*"
pipfile = "*"
wordcloud = "*"
tqdm = "*"
kaleido = "*"
folium = "*"
textblob = "*"
pyarrow = "*"
scikit-learn = "*"
corextopic = "*"
networkx = "*"

[requires]
python_version = "3.7"
